<table class="table" style="margin-top: 15px;">
    <thead>
        <tr>
            <th scope="col" style="width: 30%;">Razão Social / Nome Fantasia</th>
            <th scope="col" style="width: 30%;">Nome Responsável</th>
            <th scope="col" style="width: 10%;">Nota</th>
            <th scope="col">Resultado Avaliação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let avaliacao of avaliacoes">
            <td>{{avaliacao.razaoSocial}}</td>
            <td>{{avaliacao.nomeResponsavel}}</td>
            <td>{{avaliacao.nota}}</td>
            <td>{{avaliacao.resultadoAvaliacao}}</td>
        </tr>
    </tbody>
</table>